@charset "UTF-8";
@import url("tnc_reset.css"); /* RESET  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); /* GOOGLE FONTS "Noto Serif" */

/* ----------------------------------------------------------------
サイト名：Web Challenger - Y.Yokochi Portfolio Site -　
作者：Yoshio Yokochi
更新日：2024/10/06  作業箇所：
------------------------------------------------------------------*/

/* COMMON  ------------------------------------------------------ */
html {
    /* ブラウザ、ユーザーサイドのフォントサイズ設定を反映する指定 */
    font-size: 100%;
    /* ページトップに滑らかにスクロールアップして戻る設定  safari ver.15.3以下挙動 注意 */
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    line-height: 1.7;
    color: rgb(64, 64, 64);
    background: #fff;
}

/* main-image,sub-image 背景グラデーション処理  */
.bg-gradient-image {
    background: linear-gradient(45deg, #ebedee,#e0c3fc,#8ec5fc,#ebedee),
    no-repeat, center center / cover;
    background-size: 200% 200%;
    animation: bg-gradient 15s ease infinite;
}
/* 背景グラデーション処理 - キーフレームパート */
@keyframes bg-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} 


/* スクリーンリーダー用の非表示テキスト */
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* hover時拡大処理 */
.hover-big {
    transition-duration: 1s;
}
.hover-big:hover {
    transform: scale(1.1);
}

/* aタグ ボックスリンク用設定 */
.link-wrap {
    display: block;
}

/* 
header.php
------------------------------------------------------------------*/
header {

    .header-area {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-family: "Noto Serif", serif;
        position: relative;
        padding-top: 1.2rem;

        .site-title {
            text-align: center;

            h1 {
                font-size: 2.5rem; 

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;

                    .decoration {
                        font-size: 1.5rem;
                        color: #ccc;
                        display: inline-block;
                    }
                }
            }

            p {
                font-size: 1.2rem;

                .decoration {
                    color: #ccc;
                }
            }
        }

        .menu-area {
            display: flex;
            align-items: flex-end;
            margin-top: 2rem;

            .hamburger-toggle, .menu-icon  {
                display: none;
            }

            .global-nav {

                .global-nav_list {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 3rem;
                    font-size: 1.2rem;
                }
            } 
        }
    }
}

#visual-area {
    height: 300px;
    display: flex;
    justify-content: center;

    .catchphrase {
        display: none;
    }

    .page-title {
        font-size: 4rem;
        font-family: "Noto Serif", serif;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
    }

    .catchphrase, .page-title {
        align-self: center;
    }
}



/* 
footer.php
------------------------------------------------------------------*/

footer {
    position: relative;
    text-align: center;
    padding: 2rem 0;
    background-color: #a799f7;
    color: #fff;
    height: 65px;
    margin-top: 5rem;
}
/* footer wave -- start -- */
.footer_wave {
    position: absolute;
    left: 0;
    bottom: 45%;
    width: 100%;
}

.parallax>use {
    animation: move-wave 12s linear infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
}

.parallax>use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 5s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 3s;
}

@keyframes move-wave {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

.editorial {
    display: block;
    width: 100%;
    height: 3em;
    max-height: 100vh;
    margin: 0;
    bottom: 0px;
}

@media (max-width: 50em) {
    .editorial {
        height: 10vw;
    }
}
/* footer wave -- end -- */

/* ページトップのリンクボタン 
-- 外枠設定 */
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: linear-gradient(45deg, #e0c3fc, #8ec5fc);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    /* -- 背景色指定 */
    .pagetop-bgcolor {
        background-color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;

        /* -- 矢印整形処理 */
        .pagetop-arrow {
            height: 10px;
            width: 10px;
            border-top: 3px solid rgb(64, 64, 64);
            border-right: 3px solid rgb(64, 64, 64);
            transform: translateY(20%) rotate(-45deg);
            margin: 15px auto 0;
        }
    }
}


/* 
home.php
------------------------------------------------------------------*/
/* トップイメージ */
#home #visual-area {
    display: flex;
    justify-content: center;
    height: 500px;
    font-family: "Noto Serif", serif;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);           

    .catchphrase {
        display: block;
        width: 800px;
        min-height: 0;   /* Safari10.1～12.0 clamp表示崩れ対策 */
        align-self: center;
        text-align: center;
        color: #fff;
        font-size: clamp(1rem, 0.091rem + 3.88vw, 3rem) ;
        font-weight: bold;
    } 

    .page-title {
        display: none;
    }
}

/* home コンテンツ部分 */
#home {
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 4% 10rem;

        section {
            margin-bottom: 3rem;

            h3 {
                font-family: "Noto Serif", serif;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                padding: 1.2rem 0;
                margin: 2rem 0;
            }
        }
    }
}

/* タイトルの両サイドのグラデーションライン */
.side-border {
    display: flex;
    align-items: center;
}
.side-border::before,
.side-border::after {
    content: "";
    height: 2px;
    flex-grow: 1; 
}
.side-border::before {
    margin-right: 1rem;
    background: linear-gradient(-90deg, #ebedee,#e0c3fc,#8ec5fc,#ebedee, transparent);
}
.side-border::after {
    margin-left: 1rem;
    background: linear-gradient(90deg, #ebedee,#e0c3fc,#8ec5fc,#ebedee, transparent);
}

/* home - about */
#about-contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;

    #author-image {
        text-align: right;

        img {
            display: inline-block;
            border-radius: 50%;
            max-width: 300px;
        }
    }

    #author-introduction {
        p {
            margin-bottom: 20px;
        }

        em {
            font-weight: bold;
            font-size: large;
            padding-bottom: 20px;
            display: inline-block;
        }

        .more {
            text-align: right;
            position: relative;

            .flash-btn {
                display: inline-block;
                width: 120px;
                height: 30px;
                background: #a799f7; 
                color: #fff;
                padding-right:10px;
                padding-top: 2px;
                overflow: hidden;
                transition: all 0.3s ease;
                position: relative;

                &:hover {
                    opacity: .7;
                }
                &::before {
                    position: absolute;
                    content: '';
                    top: -180px;
                    left: -20px;
                    width: 30px;
                    height: 100%;
                    background-color: #fff;
                    animation: flashbtn 3s ease-in-out infinite;
                }
                &:hover::before {
                    animation-play-state: paused;
                }
            }

        }
    }
}
@keyframes flashbtn {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}

/* home - works */
#works-cat {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

    a {
        flex: 1 1 25%;
        padding: 5px;
        margin: 2rem 0 5rem;
        box-shadow:
        0px 20px 40px 
        rgba(0, 0, 0, .1);
        border: #ebedee 1px solid;
        border-radius: 5px;

        div {
            text-align: center;

            .icon-area {
                position: relative;
                z-index: 5;
                width: 200px;
                height: 120px;
                margin: 0 auto;

                img {
                    position: absolute;
                    z-index: 15;
                    right: 20%;
                    width: 128px;
                    height: 128px; 
                    margin-top: -50px;
                    opacity: 0.7;
                }
                .bg-gradient-circle {
                    position: absolute;
                    z-index: 10;
                    left: 25%;
                    aspect-ratio: 1 / 1;
                    background: linear-gradient(45deg, #f231b8,#3795f2);
                    border-radius: 50%;
                    filter: blur(35px);
                    width: min(100%, 100px);
                }
            }
            h3 {
                background-color: #888;
                margin: 20px 0 10px;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0,0,0,0.5);            }
        }    
    }
    
    
}
#works-cat h3 {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "Noto Serif", serif;
}
#works {
    .works-link {
        display: block;
        text-align: center;
        width: 100%;
        margin: 2rem auto;
        padding: 10px;
        color: #fff;
        font-size: large;
        /* ホバーエフェクト設定 開始 */
        position: relative;
        transition: all 0.3s ease;
        overflow: hidden;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);        

        &::after {
            position: absolute;
            content: " ";
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #8ec5fc;
            background: linear-gradient(315deg, #8ec5fc 0%, #a799f7 74%);
            transition: all 0.3s ease;
        }

        &:hover {
            background: transparent;
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
                inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        } 
        &:hover::after {
            -webkit-transform: scale(2) rotate(180deg);
            transform: scale(2) rotate(180deg);
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
                inset 4px 4px 6px 0 rgba(116, 125, 136, .3);        
            }
        /* ホバーエフェクト設定 終了 */

        p {
        border: 1px solid #fff;
        padding: 20px;
        }
    }
}

/* 
page.php
------------------------------------------------------------------*/
/* home 以外のページのメインコンテンツの2カラム設定 */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 4rem;
    padding: 0 0.4%;

    main {
        width: 70%;
    }

    aside {
        width: 25%;
    }

    main, aside {
        margin-top: 3rem;
    }
}

/* works.php --------------------------- */
.works-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
}
.works-item {
    /* ボックスの高さを高いほうに合わせる */
    display: flex;
    margin-bottom: 3rem;
    width: 31%;
}
.works-item a {
    display: block;
    padding: 5px;
    box-shadow:
    0px 20px 40px 
    rgba(0, 0, 0, .1);
    border: #ebedee 1px solid;
    border-radius: 5px;
}
.works-image {
    width: 100%;
    height: 150px;
    background-color: #888;
}
.works-title {
    padding: 5px 10px ;
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-left: 2px solid #333;
}
.works-date {
    margin-bottom: 5px;
}
.cat-web, .cat-flier, .cat-other {
    display: inline-block;
    padding: 0px 5px;
    background-color: #888;
    color: #f0efe7;
}
.post-date {
    margin-left: 5px;
}

/* ページネーション */
.pagination {
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0;
}
.nav-links {
    display: inline-block;
}
.page-numbers {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ddd;
    color: #888;
    text-decoration: none;
    border-radius: 4px;
}
.page-numbers.current {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.page-numbers:hover:not(.current) {
    background-color: #888;
    color: #f0efe7;
}
.prev.page-numbers,
.next.page-numbers {
    padding: 8px 16px;
}

/* contact.php --------------------------- */
.Form {
    width: 600px;
    margin: 0 auto;
}

.Form-Item {
    margin-bottom: 20px;
}

.Form-Item-Label {
    display: block;
    margin-bottom: 5px;
}

.Form-Item-Label-Required {
    color: #ff4136;
    margin-left: 5px;
}

.Form-Item-Input,
.Form-Item-Textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    &:focus {
        border-color: #333;
        background-color: ivory;
    }
}
input[placeholder] {
    color: #ccc;
}

/* フィールドセットのスタイルを復元 */
fieldset.Form-Fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 20px 0;
}
/* ラジオボタンのスタイルを復元 */
.Form-Radio-Input {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 5px;
    accent-color: #333;
}
/* レジェンドのスタイルを設定 */
legend.Form-Item-Label {
    padding: 0 10px;
}
.Form-Radio-Group {
    display: flex;
    gap: 20px;
}
.Form-Radio-Label {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.Form-Radio-Text {
    margin-left: 5px;
    vertical-align: middle;
}

.Form-Submit {
    background-color: #888;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #333;
    }
}

/* 
sidebar.php
------------------------------------------------------------------*/
/* サイドナビゲーション */
.category-menu {
    font-family: "Noto Serif", serif;

    h3 {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #888;
        color: #fff;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    ul {
        font-size: 1.2rem;

        li {
            width: 100%;
            border-bottom: 1px solid #ccc;

            &:nth-of-type(1) {
                background: url(../img/web_icon_s.png) no-repeat left center;
            }
            &:nth-of-type(2) {
                background: url(../img/flier_icon_s.png) no-repeat left center;
            }
            &:nth-of-type(3) {
                background: url(../img/program_icon_s.png) no-repeat left center;
            }

            a {
                display: block;
                    width: 100%;
                    color: #333;
                    padding: 10px 0 10px 30px;
                    transition: 0.5s;
                
                    &:hover {
                        background-color: #ccc;
                        opacity: 0.8;
                    }            
            }

        }
    }
}

/* 
taxonomy.php
------------------------------------------------------------------*/

/* 
single.php
------------------------------------------------------------------*/
.post-content {

    .post-article {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .post-image {
            flex: 1;
            min-width: 300px;

            img {
                display: block;
                width: 300px;
                height: 300px;
                background-color: #888;
            }
        }

        .post-details {
            flex: 2;
            min-width: 300px;

            .post-title {
                font-size: 24px;
                font-weight: bold;
                border-bottom: #666 1px solid;
            }

            .post-date {
                display: block;
                margin-bottom: 20px;
                color: #666;
            }

            .post-body {
                margin-bottom: 20px;
            }

            .post-info {
                /* float解除の指定 */
                overflow: hidden; 

                dt {
                    float: left;
                    clear: left;
                    width: 100px;
                    font-weight: bold;
                }
                dd {
                    margin-bottom: 1rem;
                    margin-left: 1.2rem;
                }
            }
        }
    }

}
.post-navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 1200px;
}


/* 
404.php
------------------------------------------------------------------*/



/* 
Responsive Layout Setting
------------------------------------------------------------------*/
/* ---------------------------------------------------------
    986px以下 レスポンシブレイアウト設定（タブレット用） 
----------------------------------------------------------*/

@media screen and (max-width: 986px) {
    /* header 修正 */
    .header-area {
        justify-content: center !important;
    }
    /* home 以外のページのメインコンテンツの2カラム設定 */
    .container {
        display: block;

        main, aside {
            margin-top: 3rem;
            width: 100%;
        }
    }
    .category-menu ul {
        text-align: center !important;

        li {
            background-position: 43% center !important;

        }
    }
    /* works.php --------------------------- */
    .works-list {
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
    }
    .works-item {
        min-width: 220px !important; 
    }

        
} /* @media max-width:986px end */


/* ---------------------------------------------------------
    481px - 684px間 レスポンシブレイアウト設定（表示調整） 
----------------------------------------------------------*/
@media screen and (min-width:481px) and (max-width: 713px) {
    .works-item {
        width: 45% !important; 

        a {
            width: 100%;
        }
    }


} /* @media 481px - 774px end */


/* ---------------------------------------------------------
    480px以下 レスポンシブレイアウト設定（スマホ用） 
----------------------------------------------------------*/
@media screen and (max-width: 480px) {
    /* header 修正 */
    header {
        padding-top: 0;

        .header-area {
            height: 52px;

            .site-title {
                position: absolute;
                top: 140%;
        
                h1,
                p {
                    color: #fff;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

                    .decoration {
                        color: #888 !important;
                        text-shadow: none;
                    }                
                }
            }
        }
    }
    
    #visual-area {
        height: 250px;
        
        .page-title {
        font-size: 1.3rem;
        text-shadow: none;
        position: fixed;
        top: 1.2%;
        z-index: 110; 
        }
    } 
    /* home - visual-area専用指定 */
    #home #visual-area {
        height: 250px;

        .catchphrase {
            display: none;
        }

        .page-title {
            display: block;
            font-size: 1.3rem;
            text-shadow: none;
            position: fixed;
            top: 1.2%;
            z-index: 110;    
        }
    }


    /* ハンバーガーメニュー設定 */
    .menu-area {
        display: block !important;
        margin-top: 0 !important;
        position: fixed;
        /* position fixed の表示崩れを防ぐ設定 */
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 52px;
        background-color: #333;

        .hamburger-toggle, .menu-icon  {
            display: block !important;
        }

    }

    .global-nav_list {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        margin-top: 52px;
        padding: 0 0 10px 0;
        clear: both;
        background: #333;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        transform: scale(1, 0);
        transform-origin: top;
        gap: 0 !important;
    }
        /* Hamburger menu button */
        .hamburger-toggle:checked ~ .global-nav>.global-nav_list {
            transform: scale(1, 1);
            transform-origin: top;
            transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        }
    
        /* Hamburger menu text */
        .global-nav_list a {
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 16px;
            text-transform: capitalize;
            color: #ddd;
            opacity: 0;
            transition: 0.5s;
        }
    
        .global-nav_list li {
            border-top: 1px solid rgb(75, 75, 75);
            padding: 15px 0;
            margin: 0 54px;
            opacity: 0;
            transition: 0.5s;
            width: 100%;
            text-align: center;
        }
    
        .hamburger-toggle:checked ~ .global-nav>.global-nav_list a,
        .hamburger-toggle:checked ~ .global-nav>.global-nav_list li {
            opacity: 1;
            transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
        }
    
        .hamburger-toggle {
            display: none;
        }
    
        .menu-icon {
            display: inline-block;
            position: relative;
            cursor: pointer;
            padding: 24px 14px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            /* "menu"テキストの指定 */
            color: #fff;
            font-size: small;
        }
    
        .navicon {
            margin-bottom: 5px; /* "menu"テキストの位置調整 */
            background: #ddd;
            display: block;
            height: 3px;
            width: 26px;
            position: relative;
            transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        }
    
        .navicon:before,
        .navicon:after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            background: #ddd;
            transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        }
    
        .navicon:before {
            top: 9px;
        }
    
        .navicon:after {
            bottom: 9px;
        }
    
        /* Hamburger Menu Animation Start */
        .hamburger-toggle:checked ~ .menu-icon .navicon:before {
            transform: rotate(-45deg);
        }
    
        .hamburger-toggle:checked ~ .menu-icon .navicon:after {
            transform: rotate(45deg);
        }
    
        .hamburger-toggle:checked ~ .menu-icon:not(.steps) .navicon:before {
            top: 0;
        }
    
        .hamburger-toggle:checked ~ .menu-icon:not(.steps) .navicon:after {
            bottom: 0;
        }
    
        .hamburger-toggle:checked ~ .menu-icon .navicon {
            background: rgba(0, 0, 0, 0);
            transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        }
        /* Hamburger Menu Animation End */
    
        
    /* works.php --------------------------- */
    .works-list {
        display: block !important;

        li, li a {
            width: 100% !important;
        }
    }
    /* ページトップのリンクボタン 
    -- 外枠設定 */ 
    .pagetop {
        right: 5px;
        bottom: 15px;
        width: 30px;
        height: 30px;
            /* -- 背景色指定 */
            .pagetop-bgcolor {
                width: 20px;
                height: 20px;
        
                /* -- 矢印整形処理 */
                .pagetop-arrow {
                    height: 8px;
                    width: 8px;
                    margin: 6px auto 0;
                }
            }
    }


    /* home- about-part */
    #about-contents {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5rem;

        #author-image {
            width: 100%;
            text-align: center;
        }

        #author-introduction {
            width: 100%;
        }

    }

    /* home- works-part */
    #works-cat {
        a {
            flex-basis: 100%;
            margin: 2rem 0;
        }
    }

} /* @media max-width:480px end */