@charset "UTF-8";
@import url("tnc_reset.css"); /* RESET  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); /* GOOGLE FONTS "Noto Serif" */

/* ----------------------------------------------------------------
サイト名：Web Challenger - Y.Yokochi Portfolio Site -　
作者：Yoshio Yokochi
更新日：2024/08/27  作業箇所：
------------------------------------------------------------------*/

/* COMMON  ------------------------------------------------------ */
html {
    /* ブラウザ、ユーザーサイドのフォントサイズ設定を反映する指定 */
    font-size: 100%;
    /* ページトップに滑らかにスクロールアップして戻る設定  safari ver.15.3以下挙動 注意 */
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    line-height: 1.7;
    color: rgb(64, 64, 64);
    background: rgb(250,250,250);
}

#sub-image {
    height: 250px;
    background-color: #888;
    color: #f0efe7;
    text-align: center;
    padding-top: 65px;
    font-size: 4rem;
    font-family: "Noto Serif", serif;
}

/* ページトップのリンクボタン */
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #f0efe7;
    border: solid 2px rgb(64, 64, 64);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
/* 矢印作成 */
.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid rgb(64, 64, 64);
    border-right: 3px solid rgb(64, 64, 64);
    transform: translateY(20%) rotate(-45deg);
}

/* スクリーンリーダー用の非表示テキスト */
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

  /* home.php 以外でコンテンツ部分の2カラム設定 */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 10px;
}
.container main {
    flex-basis: 80%;
}
.container aside {
    flex-basis: 20%;
}

/* hover時拡大処理 */
.hover-big {
    transition-duration: 1s;
}
.hover-big:hover {
    transform: scale(1.1);
}

/* 
header.php
------------------------------------------------------------------*/
header {
    padding: 1.2rem 0 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.site-title h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
.site-title .decoration {
    font-size: 1.5rem;
    color: #888;
    opacity: 0.5;
}
.site-title p {
    font-size: 1.2rem;
}
.site-title :is(h1, p) {
    font-family: "Noto Serif", serif;
    text-align: center;
}

#main-nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2.5rem;
    font-family: "Noto Serif", serif;
    font-size: 1.2rem;
}

/* 
footer.php
------------------------------------------------------------------*/

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #888;
    color: #f0efe7 ;
}

/* 
home.php
------------------------------------------------------------------*/

#main-image {
    height: 500px;
    background:linear-gradient(45deg, #ebedee,#e0c3fc,#8ec5fc,#ebedee);
    background-size: 200% 200%;
    animation: bg-gradient 15s ease infinite;   no-repeat center center / cover;
}
@keyframes bg-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
#home main {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 10rem;
}
#home main section {
    margin-bottom: 3rem;
}
#home main section h2 {
    font-family: "Noto Serif", serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.2rem 0;
    margin: 2rem 0;
}
/* タイトルの両端に線を引く */
.side-border {
    display: flex;
    align-items: center;
}
.side-border::before,
.side-border::after {
    content: "";
    height: 1px;
    flex-grow: 1; 
    background-color: #888;
}
.side-border::before {
    margin-right: 1rem;
    background: linear-gradient(-90deg, #888, transparent);
}
.side-border::after {
    margin-left: 1rem;
    background: linear-gradient(90deg, #888, transparent);
}

/* about */
#about-contents {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
#author-image {
    text-align: right;
}
#author-image img {
    width: 300px;
    height: 300px;
    background-color: #888;
    display: inline-block;
}
#author-introduction p {
    margin-bottom: 20px;
}
#author-introduction em {
    font-weight: bold;
    font-size: large;
    padding-bottom: 20px;
    display: inline-block;
}
#author-introduction .more {
    text-align: right;
}

/* works */
#works-cat {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}
#works-cat > div {
    flex-basis: 250px;
    text-align: center;
    padding: 5px;
    margin-bottom: 2rem;
    box-shadow:
    0px 20px 40px 
    rgba(0, 0, 0, .1);
}
#works-cat h3 {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "Noto Serif", serif;
}
#works-cat img {
    display: inline-block;
    width: 240px;
    height: 240px;
    background-color: #888;   
}
#works .works-link a {
    display: block;
    text-align: center;
    width: 65%;
    margin: 2rem auto;
    padding: 10px;
    background-color: #888;
    color: #f0efe7;
}

/* 
page.php
------------------------------------------------------------------*/
/* works.php --------------------------- */
.works-list {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 3rem 2rem;
    justify-content: space-between;
}
.works-item {
    display: flex;
}
.works-item a {
    display: block;
    border: #888 1px solid;
    border-radius: 5px;
    padding: 5px;
}
.works-image {
    width: 100%;
    height: 150px;
    background-color: #888;
}
.works-title {
    padding: 5px 10px ;
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-left: 2px solid #333;
}
.works-date {
    margin-bottom: 5px;
}
.cat-web, .cat-flier, .cat-other {
    display: inline-block;
    padding: 0px 5px;
    background-color: #888;
    color: #f0efe7;
}
.post-date {
    margin-left: 5px;
}

/* ページネーション */
.pagination {
    display: block;
    text-align: center;
    margin: 5rem 0;
}
.nav-links {
    display: inline-block;
}
.page-numbers {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ddd;
    color: #888;
    text-decoration: none;
    border-radius: 4px;
}
.page-numbers.current {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.page-numbers:hover:not(.current) {
    background-color: #888;
    color: #f0efe7;
}
.prev.page-numbers,
.next.page-numbers {
    padding: 8px 16px;
}

/* contact.php --------------------------- */
.Form {
    max-width: 600px;
    margin: 0 auto;
}

.Form-Item {
    margin-bottom: 20px;
}

.Form-Item-Label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.Form-Item-Label-Required {
    color: #ff4136;
    margin-left: 5px;
}

.Form-Item-Input,
.Form-Item-Textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    &:focus {
        border-color: #333;
        background-color: ivory;
    }
}
input[placeholder] {
    color: #888;
}

/* フィールドセットのスタイルを復元 */
fieldset.Form-Fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 0 20px 0;
}
/* ラジオボタンのスタイルを復元 */
.Form-Radio-Input {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 5px;
    accent-color: #333;
}
/* レジェンドのスタイルを設定 */
legend.Form-Item-Label {
    padding: 0 10px;
}
.Form-Radio-Group {
    display: flex;
    gap: 20px;
}
.Form-Radio-Label {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.Form-Radio-Text {
    margin-left: 5px;
    vertical-align: middle;
}

.Form-Submit {
    background-color: #888;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #333;
    }
}

/* 
sidebar.php
------------------------------------------------------------------*/
/* サイドナビゲーション */
.category-menu {
    margin-left: 20px;
    font-family: "Noto Serif", serif;
}

.category-menu h3 {
font-size: 1.5rem;
font-weight: 200;
padding-left: 10px;
margin-bottom: 10px;
background-color: #888;
color: #f0efe7;
}

.category-menu ul {
    text-align: center;
    font-size: 1.2rem;
}

.category-menu li {
    display: block;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 2px dotted #333;
}

.category-menu a {
    display: block;
    color: #333;
}
.category-menu a:hover {
    background-color: #888;
    color: #f0efe7;
} 

/* 
taxonomy.php
------------------------------------------------------------------*/

/* 
single.php
------------------------------------------------------------------*/
.post-content {

    .post-article {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .post-image {
            flex: 1;
            min-width: 300px;

            img {
                display: block;
                width: 300px;
                height: 300px;
                background-color: #888;
            }
        }

        .post-details {
            flex: 2;
            min-width: 300px;

            .post-title {
                font-size: 24px;
                font-weight: bold;
                border-bottom: #666 1px solid;
            }

            .post-date {
                display: block;
                margin-bottom: 20px;
                color: #666;
            }

            .post-body {
                margin-bottom: 20px;
            }

            .post-info {
                /* float解除の指定 */
                overflow: hidden; 

                dt {
                    float: left;
                    clear: left;
                    width: 100px;
                    font-weight: bold;
                }
                dd {
                    margin-bottom: 1rem;
                    margin-left: 1.2rem;
                }
            }
        }
    }

}
.post-navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 1200px;
}


/* 
404.php
------------------------------------------------------------------*/