/***
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    User-Agent-Stylesheet "の『display』プロパティ以外のすべてのスタイルを削除する。
    - symbol *」の部分は、FirefoxのSVGスプライトのバグを解決するためです。
    - html "要素は除外しています。そうしないと、ChromeのバグでCSSのハイフンプロパティが壊れてしまうからです。
    (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* モバイルSafariの横向きモードでフォントサイズが大きくなる問題を修正 */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* アンカータグにポインターカーソルを再適用する */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
    list-style: none;
}

/* Firefox: 入れ子になった順序付きリストが親リストの番号を引き継ぐ問題を解決 (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
    counter-reset: revert;
}

/* 画像がコンテナからはみ出さないようにする  */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - <body>テキスト入力でuser-select:noneを使用すると動作しない問題を解決する */
input, textarea {
    -webkit-user-select: auto;
}

/* Safariのtextarea要素の「white-space」プロパティを元に戻す */
textarea {
    white-space: revert;
}

/* メーター・エレメントをスタイル設定するための最小スタイル */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* プリフォーマット・テキスト - この機能にのみ使用 */
:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* Chromiumブラウザのバグを修正
    - コンテンツ編集可能属性の修正は正しく機能する。
    - webkit-user-select:auto;ラッパー要素でuser-select:noneを使用する場合にSafari用に追加。*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* ChromiumとSafariのみに存在する、ドラッグ可能な機能を戻す。 */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
    display: none;
}